{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
    <div class="container">
        <h1>Politique de Confidentialité</h1>
        <p><strong>Dernière mise à jour : 1/11/2024 </strong></p>

        <h2>1. Informations que nous collectons</h2>
        <p>
            Nous collectons les données suivantes lorsque vous créez un compte sur notre site :
        </p>
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Adresse e-mail</li>
            <li>Date de naissance</li>
            <li>Code postal</li>
            <li>Ville</li>
        </ul>

        <h2>2. Utilisation de vos informations</h2>
        <p>
            Nous utilisons vos informations personnelles pour :
        </p>
        <ul>
            <li>Fournir, maintenir et améliorer nos services.</li>
            <li>Personnaliser votre expérience sur notre site.</li>
            <li>Communiquer avec vous concernant votre compte et nos services.</li>
        </ul>

        <h2>3. Partage de vos informations</h2>
        <p>
            Nous ne vendons ni ne partageons vos données personnelles avec des tiers. Vos informations restent strictement confidentielles et ne sont accessibles qu'à notre équipe, dans le cadre de la gestion de votre compte.
        </p>

        <h2>4. Anonymisation des données</h2>
        <p>
            Si vous décidez de supprimer votre compte, toutes vos données à caractère personnel seront anonymisées. Cela signifie que vos informations ne pourront plus être utilisées pour vous identifier, et nous conserverons uniquement des données agrégées ou anonymisées à des fins statistiques.
        </p>

        <h2>5. Vos droits</h2>
        <p>
            Conformément au RGPD, vous disposez des droits suivants concernant vos données personnelles :
        </p>
        <ul>
            <li><strong>Droit d'accès</strong> : Vous pouvez demander l'accès à vos données personnelles que nous détenons.</li>
            <li><strong>Droit de rectification</strong> : Vous pouvez demander la correction de données inexactes ou incomplètes.</li>
            <li><strong>Droit à l'effacement</strong> : Vous pouvez demander la suppression de vos données personnelles.</li>
            <li><strong>Droit à la limitation du traitement</strong> :  Vous pouvez demander la limitation du traitement de vos données.</li>
            <li><strong>Droit à la portabilité</strong> : Vous pouvez recevoir vos données personnelles dans un format structuré et lisible par machine.</li>
            <li><strong>Droit d'opposition</strong> : Vous pouvez vous opposer au traitement de vos données personnelles.</li>
        </ul>

        <h2>6. Sécurité de vos données</h2>
        <p>
            Nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger vos données personnelles contre la perte, l'accès non autorisé, la divulgation ou l'altération.
        </p>

        <h2>7. Modifications de cette politique</h2>
        <p>
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec une nouvelle date de mise à jour. Nous vous encourageons à consulter régulièrement cette politique pour rester informé de la manière dont nous protégeons vos données.
        </p>

        <h2>8. Nous contacter</h2>
        <p>
            Si vous avez des questions concernant cette politique de confidentialité ou vos droits, veuillez nous contacter à :
        </p>
        <p>
            <a href="https://github.com/Aedery16-11" target="_blank">Profil GitHub d'Aaron Edery</a>
            <a href="https://github.com/N-Baroukh" target="_blank">Profil GitHub de Noam Baroukh</a> <br>
        </p>
    </div>
{% endblock %}

