{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation{% endblock %}

{% block body %}
    <h1>Demande de réinitialisation du mot de passe</h1>
    <p>Si l'email que vous avez entré est valide, vous recevrez un lien de réinitialisation dans quelques minutes.</p>
{% endblock %}
