{% extends 'base.html.twig' %}

{% block title %}Mot de Passe Oublié{% endblock %}

{% block body %}
    <h1>Mot de Passe Oublié</h1> <!-- Titre de la page de réinitialisation de mot de passe -->
    <p>Veuillez renseignez votre mail</p> <!-- Instructions pour l'utilisateur -->
    <form method="post"> <!-- Formulaire de réinitialisation de mot de passe -->
        <label for="email">Email :</label> <!-- Étiquette pour le champ email -->
        <input type="email" name="email" id="email" required> <!-- Champ de saisie pour l'email -->
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Réinitialiser le mot de passe</button> <!-- Bouton de soumission -->
    </form>
{% endblock %}