{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="post">
        <label>
            <input type="password" name="password" placeholder="Nouveau mot de passe" required>
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Réinitialiser</button>
    </form>
{% endblock %}