{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="post">
        <label>
            <h5>Nouveau mot de passe</h5>
            <input type="password" id="password" name="password" placeholder="exemple : Bonjour12345!" required>
        </label>
        <br><br>
        <label>
            <h5>Confirmer le mot de passe</h5>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmer le mot de passe" required>
        </label>
        <br><br>
        <div id="capslock-warning" style="color: red; display: none;">
            Attention : La touche Maj est activée !
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Réinitialiser</button>
    </form>

    <script>
        // Appliquer les styles pour augmenter la taille des champs de mot de passe
        document.getElementById('password').style.width = '200px';
        document.getElementById('confirm_password').style.width = '200px';

        // Fonction pour détecter si la touche Maj est activée
        function checkCapsLock(event) {
            var warning = document.getElementById('capslock-warning');
            if (event.getModifierState('CapsLock')) {
                warning.style.display = 'block'; // Affiche l'avertissement
            } else {
                warning.style.display = 'none'; // Cache l'avertissement
            }
        }

        document.getElementById('password').addEventListener('keyup', checkCapsLock);
        document.getElementById('confirm_password').addEventListener('keyup', checkCapsLock);
    </script>
{% endblock %}
