{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <form method="post">
        <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    </form>
{% endblock %}
