{% extends 'base.html.twig' %}

{% block title %}Mes Station Favoris{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">Mes Stations Favoris</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Liste des stations</h3>
                    {% if stations is empty %}
                        <p>Vous n'avez pris aucune station.</p>
                    {% else %}
                        <ul class="list-group" id="station-list">
                            {% for station in stations %}
                                <li class="list-group-item">{{ station.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn btn-outline-warning" onclick="window.location.href='{{ path('app_station_favoris') }}';">Retourner aux stations favoris</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}