{% extends 'base.html.twig' %}

{% block title %}Mes Station Favoris:{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center">Mes Stations Favoris</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Liste des stations</h3>
                <ul class="list-group  " id="station-list">
                    {% for station in stations %}
                        <li class="list-group  ">
                                <ul>{{ station.name }}</ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
