{# templates/registration/check_email.html.twig #}
{% block title %}Check your email{% endblock %}

{% block body %}
    <h1>Verification d'email :</h1>
    <p>Un e-mail de confirmation a été envoyé. Veuillez vérifier votre boîte de réception.</p>

    {% if app.request.query.get('verified') == 'true' %}
        <script>
            // Redirection vers la page de connexion après 6 secondes
            setTimeout(function() {
                window.location.href = "{{ path('app_login') }}";
            }, 6000);
        </script>
    {% endif %}
{% endblock %}